[project]
	description = ? A UI Design Language
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Suiy-hz
[access "refs/for/refs/*"]
	read = group user/Suiy-hz
	push = group user/Suiy-hz
	label-Code-Review = -2..+2 group user/Suiy-hz
	label-Verified = -1..+1 group user/Suiy-hz
	rebase = group user/Suiy-hz
	removeReviewer = group user/Suiy-hz
	submit = group user/Suiy-hz
[access "refs/heads/*"]
	read = group user/Suiy-hz
	create = group user/Suiy-hz
	push = +force group user/Suiy-hz
	pushMerge = group user/Suiy-hz
[access "refs/tags/*"]
	push = group user/Suiy-hz
	push = +force group user/Suiy-hz
